#anchorPane{
    -fx-background-color: #edfdff;
}

.table-view {
    -fx-background-color: white;
}

.table-column.column-header{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, rgba(29, 187, 221, 0.27), rgba(147, 249, 185, 0.27));
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: rgb(176, 217, 250);
    -fx-text-background-color: black;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: rgba(0, 0, 0, 0);
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.text-field{
    -fx-background-color: linear-gradient(to right, #1dbbdd44, rgba(116, 219, 238, 0.27));
}
.text-field:hover{
    -fx-background-color: linear-gradient(to right, rgb(115, 204, 231), rgba(110, 151, 155, 0.27));
}

#addImage{
    -fx-background-color: #82d0ea;
}
#addImage:hover{
    -fx-background-color: #71b1d0;
}
#viewImage{
    -fx-background-color: #ffa500;
}
#viewImage:hover {
    -fx-background-color: #e79705;
}
#editImage{
    -fx-background-color: #e3e300;
}
#editImage:hover{
    -fx-background-color: #d4d402;
}
#deleteCar{
    -fx-background-color: orangered;
}
#deleteCar:hover{
    -fx-background-color: #e23d00;
}
#logout{
    -fx-background-color: orangered;
}
#logout:hover{
    -fx-background-color: #e23d00;
}
#addCar {
    -fx-background-color: #32cd32;
}
#addCar:hover{
    -fx-background-color: #2eba2e;
}

#refresh{
    -fx-background-color: #e7e5e5;
}
#refresh:hover{
    -fx-background-color: #d6d6d6;
}


